<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<div>
    <div class="container">
        <div class="row">
          <div class="col-sm">
         
          </div>
          <div class="col-md">
              <h2>Conversor</h2>
              <div>
                <label>Unidad Base:
                  <input type="string" [(ngModel)]="datoSend.unidat" placeholder="Unidad Base"/>
                </label><br>
                <label>Unidad Destino:
                  <input type="string" [(ngModel)]="datoSend.uniconv" placeholder="Unidad Destino"/>
                </label><br>
                <label>Cantidad a convertir:
                  <input type="number" [(ngModel)]="datoSend.dat" placeholder="Cantidad"/>
                </label><br>
               
              </div>
              <button  class="btn btn-success" (click)="Convertir()">Convertir</button>
              
          </div>
          <div class="col-sm">
           
          </div>
        </div>

       
      </div>
  
  
</div>


<div class="container">
    <div class="row">
      <div class="col-sm">
     
      </div>
      <div class="col-md">
          <p>Resultado:</p>
          <p> {{datoReceived.dat}} {{datoReceived.uni_dat}} equivalen a {{datoReceived.dat_conv}} {{datoReceived.uni_conv}}</p>
      </div>
      <div class="col-sm">
       
      </div>
    </div>
  </div>


